doctype html
html(lang="ru")
  - title = "Главная"
  include blocks/head/head

  body
    include blocks/browser-warning/browser-warning

    main.main
      .main__container
        form.search-form
          input.search-form__input#searchInput(type="search", name="search", placeholder="Искать в таблице")
        #table

    include blocks/js-script/js-script
